body {
  background-color: #621402;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  background: url(../img/bg.png) no-repeat center;
  background-size: cover;

}


.header-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 38px;
}

.menu-link {
  color: #fff;
  text-decoration: none;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.nav,
ul {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

ul li {
  margin-right: 25px;
}

ul li:last-child {
  margin: 0;
}

.main-logo {
  margin-right: 57px;
}

.user {
  margin-right: 0;
  color: #fff;
}

.user img {
  width: 33px;
  height: 33px;
  left: 1272px;
  top: 30px;
  border-radius: 50px;
}

.user span {
  margin-right: 11px;
  padding: 5px 0;
}




main {
  height: 100vh;
}